* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: red;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.image-container {
  width: 70%;
  margin: auto;
  z-index: 2;
  /* margin-top: 200px; */
  position: relative;
}

.image {
  width: 100%;
}

.button {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  border-radius: 50%;
  /* top: 50%; */
}
.button:hover {
  background-color: rgba(3, 3, 3, 0.3);
}
.button:active {
  color: aqua;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}


@media (max-width: 500px) {
  body {
    padding: 20px 5px;
  }
  .button {
    padding: 10px;
  }
  .image-container {
    rotate: 90deg;
    width: 100%;
    margin-top: 150px;
  }
}